#control_panel {
    font-family:Arial,sans-serif;
    width:300px;
}
#control_panel h1 {
    color:#666;
    font-size:15pt;
    font-weight:bold;
    margin: 20px;
}
#control_panel ul {
    list-style-type: none;
    list-style: none
    margin:0px 0px 8px 0px;
    padding:0px;
}
#control_panel li {
    margin:0px 4px 0px 0px;
    padding:0px;
    white-space:nowrap;
    display: inline;
}

#desktop, #tablet, #smart, #feature {
    color: transparent;
    width: 48px;
    height: 49px;
    display: block;
    margin: 10px;
    float: left;
}
#desktop {
    margin-left: 20px;
    background-image: url("/icones/desktop.png");
}
#tablet {
    background-image: url("/icones/tablet.png");
}
#smart {
    background-image: url("/icones/smart.png");
}
#feature {
    background-image: url("/icones/feature.png");
}
