body {
    margin: 23px 0 0 0;
    padding: 0;
}
#control_panel {
    font-family:Arial,sans-serif;
    width:300px;
}
#control_panel h1 {
    color:#0669de;
    font-size:22pt;
    font-weight:bold;
    margin: 20px;
    text-transform:capitalize;
}
#control_panel ul {
    list-style-type: none;
    list-style: none
    margin:0px 0px 8px 0px;
    padding:0px;
}
#control_panel li {
    margin:0px 4px 0px 0px;
    padding:0px;
    white-space:nowrap;
    display: inline;
}

#desktop, #tablet, #smart, #feature {
    color: transparent;
    width: 48px;
    height: 49px;
    display: block;
    margin: 10px;
    float: left;
}
#desktop {
    margin-left: 20px;
    background-image: url("/icones/desktop.png");
}
#tablet {
    background-image: url("/icones/tablet.png");
}
#smart {
    background-image: url("/icones/smart.png");
}
#feature {
    background-image: url("/icones/feature.png");
}

.escondido {
    display: none;
}


#group_list {
    height: 79px;
    padding: 9px;
    background: url("/style/borda_filtro.gif") repeat-x top;
}
#group_list:before {
    background: url("/style/setinha_indicadora_filtro.gif") no-repeat;
    display: block;
    width: 17px;
    margin-right: -17px;
    height: 14px;
    margin-bottom: -14px;
    position: relative;
    bottom: 9px;
    content: "";
    -webkit-transition-duration: 0.1s;
    -webkit-transition-timing-function: linear;
    -webkit-transition-delay: 0.05s;
}
#group_list.smart:before {
        right: -170px;
}
#group_list.feature:before {
        right: -240px;
}
#group_list.tablet:before {
        right: -103px;
}
#group_list.desktop:before {
        right: -36px;
}

menu img {
    margin-left: 20px;
}